@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: 'Inter';
    margin: auto;
    height: 100%;

}

header{
    background-color: #B36BDD;
}

.logo-text{
    color: white;
    font-size: 30px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

.logo{
    display: flex;
    justify-content: space-between;
    width: 250px;
    align-items: center;
    margin: auto;
    padding-top: 30px;
}

.main-menu-item{
    color: white;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
}

.main-menu{
    list-style: none;
    padding-left: 0;
    
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 30px;
}

main{
    background-color: #E3BBF9;
    padding-top: 100px;
    padding-bottom: 100px;
}

.main-text{
    color: white;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.8;
    width: 1000px;
    margin: auto;
    text-align: center;
}

.block-menu-item{
    background-color: #B36BDD;
    width: 200px;
    height: 200px;
    color: white;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.block-menu{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
    margin-top: 100px;
}

footer{
    background-color: #B36BDD;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer p{
    color: white;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

footer a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    display: block;
    text-align: center;
}